<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- 간단히 버튼으로 POST를 보내도록 한다. -->
    <form action="/" method="post">
       <button type="submit">눌러봐</button>
    </form>

  </body>
</html>
